//Studcon main colors

$studcon-black: #202020;
$studcon-ash: #333533;
$studcon-yellow: #ffee32;
$studcon-lightyellow: #f9f4c6;
$studcon-gold: #ffd100;
$studcon-grey: #d6d6d6;
$studcon-darkgrey: #b9b9b9;
