@use "../../styles/partials/variables" as *;
@use "../../styles//partials/mixins" as *;

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $studcon-grey;

  @media (min-width: 1076px) {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-decoration: none;
    padding: 2rem;
    width: 20rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;

    @media (min-width: 1076px) {
      padding: 1rem;
      margin-bottom: 0;
    }
  }

  &__button {
    font-family: "Roboto", Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    background-color: rgb(238, 238, 238);
    font-size: 15px;
    padding: 0.5rem 1rem;
    border: solid 2px black;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $studcon-darkgrey;
    }
  }

  &__button-contact {
    background-color: $studcon-yellow;
  }
}
