.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e6e6;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-decoration: none;
    padding: 2rem;
    width: 20rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  &__button {
    padding: 0.5rem;
    border: none;
  }
}
